name: "Continuous Integration"

on:
  push:
    branches: [main]
  pull_request:
  schedule:
    - cron: "0 1 * * *"

jobs:
  python-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v5
        with:
          cache-dependency-glob: "**/pyproject.toml"

      - name: Run tests
        run: |
          export COVERAGE_FILE=.coverage.$GITHUB_JOB
          uv run -m pytest --cov

      - name: Upload coverage data
        uses: actions/upload-artifact@v4
        with:
          name: coverage-data-all
          path: .coverage.*
          include-hidden-files: true
          if-no-files-found: ignore

  python-coverage:
    needs: python-tests
    runs-on: ubuntu-latest
    steps:
      - uses: cjw296/python-action/check-coverage@v1

  python-typing:
    name: python type checking
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5
        with:
          cache-dependency-glob: "**/pyproject.toml"

      - name: Run tests
        run: uv run --all-groups mypy .

  python-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: cjw296/python-action/check-formatting@v1
